name = "devvelocity"
compatibility_date = "2023-10-01"
pages_build_output_dir = ".vercel/output/static"

# Required for Next.js on Cloudflare Pages
compatibility_flags = ["nodejs_compat"]

[vars]
NODE_ENV = "production"
