name = "devvelocity"
compatibility_date = "2024-11-20"

# Required for Cloudflare Pages to recognize this as a project using Functions
pages_build_output_dir = ".next"

[build]
command = "npm run build"
