name = "develocity"
compatibility_date = "2023-10-01"
pages_build_output_dir = ".vercel/output/static"

# Optional advanced settings
[vars]
NODE_ENV = "production"

[observability]
enabled = true  # < Must use "enabled", not "logs"

# Optional: enable logging retention
[logpush]
enabled = false
