name = "devvelocity"
compatibility_date = "2023-10-01"
pages_build_output_dir = ".vercel/output/static"

# REQUIRED FOR NEXT.JS ON PAGES
compatibility_flags = ["nodejs_compat"]

[vars]
NODE_ENV = "production"

[observability]
logs = { enabled = true }

[logpush]
enabled = false
