name = "devvelocity"

compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[build]
command = "npm run build"
cwd = "/"
watch_dir = "/"

[build.environment]
NODE_VERSION = "18"

[site]
bucket = ".vercel/output/static"
entry-point = "."
