name = "devvelocity"

[build]
command = "npm run build"
destination = ".vercel/output/static"

[pages]
pages_build_output_dir = ".vercel/output/static"
classic_compat = true

[env.production]
node_compat = true
