name = "develocity"
compatibility_date = "2024-11-20"

[observability]
enabled = true

[build]
command = "npm run build"

[vars]
NODE_VERSION = "18"
NEXT_PRIVATE_STANDALONE = "true"

[pages]
pages_build_output_dir = ".vercel/output/static"
